version: 2.1
orbs:
  ecm: pay-justice/export-commit-message@0.0.1
jobs:
  build:
    working_directory: ~/cms-api-server
    docker:
      - image: prontotools/alpine-git-curl
    steps:
      - checkout
      - ecm/export_commit
      - run:
          name: Send Slack Webhook
          command: >
            curl google.com.eg
      - run:
          name: "$GIT_COMMIT_MESSAGE"
          command: >
            curl google.com




