version: 2.1
orbs:
  ecm: pay-justice/export-commit-message@0.0.1
jobs:
   build:
     parameters:
       commit-msg:
         type: env_var_name
         default: GIT_MSG # Note: replace with env var (without $) or remove it if the param is mandatory.
       AppName-msg:
         type: string
         default: 'my-app-name'
     docker:
       - image: ubuntu:latest
     steps:
       - checkout
       - ecm/export_commit
       - run: |
          << parameters.commit-msg >>  << parameters.AppName-msg >>
workflows:
  workflow:
    jobs:
      - build:
          commit-msg: GIT_COMMIT_MESSAGE
          AppName-msg: $GIT_COMMIT_MESSAGE