version: 2.1
jobs:
   build:
     parameters:
       elkHost:
         type: env_var_name
         default: ELK_DEFAULT_HOST # Note: replace with env var (without $) or remove it if the param is mandatory.
       ebAppName:
         type: string
         default: 'my-app-name'
     docker:
       - image: ubuntu:latest
     steps:
       - run: |
           echo "--elkHost ${<< parameters.elkHost >>} \\
                 --ebAppName << parameters.ebAppName >>"
workflows:
  workflow:
    jobs:
      - build:
          elkHost: ELK_HOST
          ebAppName: ${EB_APP_NAME}